Repository ishinova/tobe-app, pull requests merged in 2024-02, with the labels that each got.

#91 build(android): ProductFlavors を追加
  app/android/.gitignore
  app/android/app/build.gradle
  app/android/app/debug.keystore
  app/android/app/src/dev/res/values/strings.xml
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/values/strings.xml
  app/android/app/src/prod/res/values/strings.xml
  app/android/app/src/stg/res/values/strings.xml
Labels: @application

#98 ci: Checks ワークフローにステータスチェック用のジョブを追加
  .github/workflows/checks.yml
Labels: @type/ci

#101 build(iOS): ProductFlavorの対応
  app/ios/Flutter/Debug.xcconfig
  app/ios/Flutter/Release.xcconfig
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/stg.xcscheme
  app/ios/Runner/Dev/Info.plist
  app/ios/Runner/Prod/Info.plist
  app/ios/Runner/Stg/Info.plist
  app/ios/RunnerTests/RunnerTests.swift
Labels: @application

#103 feat: Flavor を追加
  app/lib/app_build_config.dart
  app/lib/app_initializer.dart
  app/lib/main.dart
  core/model/lib/src/build_config/build_config.dart
  core/model/lib/src/build_config/flavor.dart
  core/model/lib/src/build_config/index.dart
Labels: @core/model, @application

#109 feat(common): simple_logger を追加
  app/lib/app_initializer.dart
  app/pubspec.lock
  catalog/pubspec.lock
  core/common/lib/log.dart
  core/common/lib/src/log.dart
  core/common/pubspec.lock
  core/common/pubspec.yaml
  core/data/pubspec.lock
  core/database/pubspec.lock
  core/datastore/pubspec.lock
  core/designsystem/pubspec.lock
  core/domain/pubspec.lock
  core/model/pubspec.lock
  core/network/pubspec.lock
  core/testing/pubspec.lock
  core/ui/pubspec.lock
  feature/auth/pubspec.lock
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @application, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui

#111 chore(deps): 依存関係を追加
  core/analytics/pubspec.lock
  core/analytics/pubspec.yaml
  feature/auth/pubspec.lock
  feature/auth/pubspec.yaml
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
  feature/quest/pubspec.lock
  feature/quest/pubspec.yaml
  feature/settings/pubspec.lock
  feature/settings/pubspec.yaml
Labels: @feature/home, @feature/auth, @feature/quest, @feature/settings, @core/analytics

#116 chore(ios): cocoapods 1.15.0 -> 1.15.2
  app/ios/Podfile.lock
Labels: @application

#118 chore(deps): flutter_adaptive_scaffold を追加
  app/pubspec.lock
  catalog/pubspec.lock
  core/designsystem/pubspec.lock
  core/designsystem/pubspec.yaml
  core/ui/pubspec.lock
  feature/auth/pubspec.lock
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
Labels: @core/designsystem, @application, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui

#119 feat: firebase関連ファイルの設定
  analysis_options.yaml
  app/.gitignore
  app/android/.gitignore
  app/android/app/src/dev/google-services.json
  app/ios/.gitignore
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Dev/GoogleService-Info.plist
  app/ios/Runner/Dev/firebase_app_id_file.json
  app/lib/app_initializer.dart
  app/lib/dev/firebase_options.dart
  app/lib/prod/.gitkeep
  app/lib/stg/.gitkeep
  app/pubspec.lock
  app/pubspec.yaml
Labels: @application

#121 refactor: Firebase.initializeAppの引数でFlavor(Enum)を使用する
  app/lib/app_initializer.dart
Labels: @application, @type/improve

#125 refactor: widgetbookのaddonにthemeを追加
  catalog/lib/pages/auth_page.dart
  catalog/lib/pages/home_page.dart
  catalog/lib/pages/quest_page.dart
  catalog/lib/pages/settings_page.dart
  catalog/lib/widgetbook.dart
  catalog/lib/widgetbook.directories.g.dart
  catalog/lib/widgets/primary_color_container.dart
Labels: @type/improve, @catalog

#124 feat(catalog): 各 Feature の Page を追加
  catalog/lib/pages/auth_page.dart
  catalog/lib/pages/home_page.dart
  catalog/lib/pages/quest_page.dart
  catalog/lib/pages/settings_page.dart
  catalog/lib/widgetbook.dart
  catalog/lib/widgetbook.directories.g.dart
  catalog/lib/widgets/primary_color_container.dart
  catalog/pubspec.lock
  catalog/pubspec.yaml
Labels: @catalog

#127 build(deps): go_router への依存を追加
  app/pubspec.lock
  app/pubspec.yaml
  catalog/pubspec.lock
  feature/auth/pubspec.lock
  feature/auth/pubspec.yaml
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
  feature/quest/pubspec.lock
  feature/quest/pubspec.yaml
  feature/settings/pubspec.lock
  feature/settings/pubspec.yaml
  melos.yaml
Labels: @application, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings

#128 feat(settings): 設定ページにオープンソースライセンス項目を追加
  catalog/lib/pages/settings_page.dart
  feature/settings/lib/feature_settings.dart
  feature/settings/lib/src/ui/index.dart
  feature/settings/lib/src/ui/settings/index.dart
  feature/settings/lib/src/ui/settings/settings_page.dart
  feature/settings/lib/src/ui/settings_page.dart
Labels: @catalog, @feature/settings

#130 chore(deps): hooks_riverpod への依存を追加
  app/pubspec.lock
  catalog/pubspec.lock
  feature/auth/pubspec.lock
  feature/auth/pubspec.yaml
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
  feature/quest/pubspec.lock
  feature/quest/pubspec.yaml
  feature/settings/pubspec.lock
  feature/settings/pubspec.yaml
Labels: @application, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings

#131 feat(settings): BuildConfig の情報を設定ページに追加
  feature/settings/lib/src/ui/settings/component/build_config_tile_content.dart
  feature/settings/lib/src/ui/settings/component/index.dart
  feature/settings/lib/src/ui/settings/settings_page.dart
Labels: @feature/settings

#132 fix(catalog): 設定画面を表示できるように修正
  catalog/lib/main.dart
  catalog/pubspec.lock
  catalog/pubspec.yaml
  core/model/lib/src/build_config/build_config.dart
  core/model/lib/src/build_config/index.dart
Labels: @core/model, @catalog

#135 ci: checks ワークフロー内に actionlint を移動し必須チェック化
  .github/workflows/actions-lint.yml
  .github/workflows/checks.yml
  .github/workflows/wc-firebase-hosting.yml
Labels: @type/ci

#138 fix(deps): app パッケージの web ビルドが通るよう修正
  app/pubspec.lock
  app/pubspec.yaml
Labels: @application

#139 ci: very_good_cli のテストに変更
  .github/workflows/checks.yml
  melos.yaml
Labels: @type/ci

#140 ci: 依存関係を事前にキャッシュし analyze と test の job を切り分け
  .github/workflows/checks.yml
Labels: @type/ci

#141 ci: ci 用のスクリプトを切り分け
  .github/workflows/checks.yml
  melos.yaml
Labels: @type/ci

#144 chore(deps): update dependency yumemi_lints to v1.7.0
  analysis_options.yaml
  app/pubspec.lock
  catalog/pubspec.lock
  core/domain/pubspec.lock
  feature/auth/pubspec.lock
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
  melos.yaml
Labels: @core/domain, @application, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings

#149 feat: go_route と bottomNavigation の導入
  app/lib/main.dart
  app/lib/router/app_navigation_bar.dart
  app/lib/router/app_navigation_key.dart
  app/lib/router/app_navigation_label.dart
  app/lib/router/app_page_path.dart
  app/lib/router/app_router.dart
  app/lib/router/app_router.g.dart
  app/lib/router/go_route/auth_route.dart
  app/lib/router/go_route/auth_route.g.dart
  app/lib/router/go_route/home_route.dart
  app/lib/router/go_route/home_route.g.dart
  app/lib/router/go_route/quest_route.dart
  app/lib/router/go_route/quest_route.g.dart
  app/lib/router/go_route/settings_route.dart
  app/lib/router/go_route/settings_route.g.dart
  app/lib/router/shell_branch/home_branch.dart
  app/lib/router/shell_branch/quest_branch.dart
  app/lib/router/shell_branch/settings_branch.dart
  app/lib/router/shell_route/app_shell_route.dart
  app/lib/router/shell_route/app_shell_route.g.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/app_test.dart
  app/test/widget_test.dart
  catalog/lib/pages/auth_page.dart
  feature/auth/lib/src/ui/auth/auth_page.dart
  feature/auth/lib/src/ui/auth/auth_route.dart
  feature/auth/pubspec.lock
  feature/settings/lib/src/ui/settings/settings_route.dart
Labels: @application, @catalog, @feature/auth, @feature/settings

#151 chore(deps): melos flutter 3.19.0 -> 3.19.1
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
  melos.yaml
Labels: @feature/home, @feature/quest, @feature/settings
