Repository ishinova/tobe-app, pull requests merged in 2024-06, with the labels that each got.

#330 chore(app): jvm 11 -> 17
  app/android/app/build.gradle
Labels: @application

#334 ci: changed ジョブに any の output を追加
  .github/workflows/checks.yml
Labels: @type/ci

#78 ci: Auto Correct のワークフローを追加
  .github/workflows/auto-correct.yml
  feature/auth/lib/src/extension/index.dart
  feature/auth/lib/src/ui/component/index.dart
  feature/feed/lib/src/extension/index.dart
  feature/feed/lib/src/ui/component/index.dart
  feature/home/lib/src/extension/index.dart
  feature/home/lib/src/ui/component/index.dart
  feature/quest/lib/src/extension/index.dart
  feature/quest/lib/src/ui/component/index.dart
  feature/settings/lib/src/extension/index.dart
  feature/settings/lib/src/ui/component/index.dart
Labels: @feature/home, @type/ci, @feature/auth, @feature/quest, @feature/settings

#348 build(backend): Dockerfile を追加
  Makefile
  backend/Dockerfile
  compose.yaml
Labels: @backend

#350 refactor: Auto Correct のワークフローをカイゼン
  .github/workflows/auto-correct.yml
Labels: @type/improve

#356 [GH-355] Get 系以外の UseCase を Raw に変更
  core/domain/lib/src/use_case/auth/sign_in_use_case.dart
  core/domain/lib/src/use_case/auth/sign_in_use_case.g.dart
  core/domain/lib/src/use_case/auth/sign_out_use_case.dart
  core/domain/lib/src/use_case/auth/sign_out_use_case.g.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.g.dart
  core/domain/lib/src/use_case/user_settings/update_theme_use_case.dart
  core/domain/lib/src/use_case/user_settings/update_theme_use_case.g.dart
  core/domain/test/use_case/auth/sign_in_use_case_test.dart
  feature/auth/lib/src/ui/page/auth/components/sign_in_form.dart
  feature/quest/lib/src/ui/page/add/quest_add_page_state_machine.dart
  feature/settings/lib/src/ui/page/settings/settings_page.dart
  feature/settings/lib/src/ui/page/settings/theme_setting_dialog_page.dart
Labels: @core/domain, @feature/auth, @feature/quest, @feature/settings

#357 ci: auto correct の baseTree を修正
  .github/workflows/auto-correct.yml
Labels: @type/ci

#358 ci: firebase hosting のデプロイ調整
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: @type/ci

#360 refactor(app): initialize 系の処理をリファクタリング
  app/lib/initializer/app_initializer.dart
  app/lib/initializer/build_config_initializer.dart
  app/lib/initializer/database_initializer.dart
  app/lib/initializer/datastore_initializer.dart
  app/lib/initializer/logger_initializer.dart
Labels: @application, @type/improve

#361 chore(deps): bump flutter 3.22.2 -> 3.23.0-0.1.pre
  .tool-versions
  app/ios/Runner/AppDelegate.swift
  app/lib/router/shell_branch/home_branch.dart
  app/lib/router/shell_branch/quest_branch.dart
  app/lib/router/shell_branch/settings_branch.dart
  app/pubspec.lock
  app/pubspec.yaml
  backend/.tool-versions
  backend/Dockerfile
  backend/pubspec.lock
  backend/pubspec.yaml
  catalog/pubspec.lock
  catalog/pubspec.yaml
  core/analytics/pubspec.lock
  core/analytics/pubspec.yaml
  core/analytics_firebase/pubspec.lock
  core/analytics_firebase/pubspec.yaml
  core/authenticator/pubspec.lock
  core/authenticator/pubspec.yaml
  core/common/pubspec.lock
  core/common/pubspec.yaml
  core/data/pubspec.lock
  core/data/pubspec.yaml
  core/database/pubspec.lock
  core/database/pubspec.yaml
  core/database_isar/pubspec.lock
  core/database_isar/pubspec.yaml
  core/datastore/pubspec.lock
  core/datastore/pubspec.yaml
  core/designsystem/pubspec.lock
  core/designsystem/pubspec.yaml
  core/domain/pubspec.lock
  core/domain/pubspec.yaml
  core/model/pubspec.lock
  core/model/pubspec.yaml
  core/network/pubspec.lock
  core/network/pubspec.yaml
  core/testing/pubspec.lock
  core/testing/pubspec.yaml
  core/ui/pubspec.lock
  core/ui/pubspec.yaml
  feature/auth/pubspec.lock
  feature/auth/pubspec.yaml
  feature/feed/pubspec.lock
  feature/feed/pubspec.yaml
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
  feature/quest/pubspec.lock
  feature/quest/pubspec.yaml
  feature/settings/pubspec.lock
  feature/settings/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  tools/bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/pubspec.yaml
  tools/bricks/feature/hooks/pubspec.yaml
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @application, @feature/home, @backend, @catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui, @core/analytics

#364 ci: Auto Correct を format から gen に変更
  .github/workflows/auto-correct.yml
  core/analytics_firebase/lib/src/firebase_analytics.g.dart
  feature/quest/lib/src/ui/page/add/quest_add_page_state_machine.g.dart
  melos.yaml
Labels: @type/ci, @feature/quest

#365 ci: 日時の自動フォーマットワークフローを追加
  .github/workflows/auto-format.yml
Labels: @type/ci

#368 ci: Auto Correct の ref 使用箇所をリファクタリング
  .github/workflows/auto-correct.yml
Labels: @type/ci

#369 chore(deps): testing 関連のパッケージ依存整理
  core/analytics/pubspec.lock
  core/analytics/pubspec.yaml
  core/analytics_firebase/pubspec.lock
  core/analytics_firebase/pubspec.yaml
  core/authenticator/pubspec.lock
  core/authenticator/pubspec.yaml
  core/database/pubspec.lock
  core/database/pubspec.yaml
  core/datastore/pubspec.lock
  core/datastore/pubspec.yaml
  core/designsystem/pubspec.lock
  core/network/pubspec.lock
  core/network/pubspec.yaml
  core/testing/pubspec.lock
  core/testing/pubspec.yaml
Labels: @core/database, @core/datastore, @core/designsystem, @core/network, @core/testing, @core/analytics

#376 [GH-374] ci: type ラベルのカイゼン
  .github/labeler.yml
  .github/labels.yml
  .github/release.yml
Labels: @type/ci

#381 [GH-380] ci: パッケージラベルを自動生成するコマンドを追加
  .github/labeler.yml
  .github/labels.yml
  cli/.gitignore
  cli/README.md
  cli/analysis_options.yaml
  cli/bin/cli.dart
  cli/coverage_badge.svg
  cli/dart_test.yaml
  cli/lib/cli.dart
  cli/lib/src/command_runner.dart
  cli/lib/src/commands/commands.dart
  cli/lib/src/commands/labeler_command.dart
  cli/lib/src/commands/labels_command.dart
  cli/lib/src/commands/update_command.dart
  cli/lib/src/constant.dart
  cli/lib/src/model/melos_package.dart
  cli/lib/src/model/result.dart
  cli/lib/src/utils/color.dart
  cli/lib/src/utils/melos.dart
  cli/lib/src/utils/path.dart
  cli/lib/src/version.dart
  cli/pubspec.yaml
  cli/test/ensure_build_test.dart
  cli/test/src/command_runner_test.dart
  cli/test/src/commands/sample_command_test.dart
  cli/test/src/commands/update_command_test.dart
Labels: type/ci

#390 refactor: tool 関連の階層変更
  .github/CODEOWNERS
  .github/labeler.yml
  Makefile
  analysis_options.yaml
  backend/pubspec.lock
  bricks/README.md
  bricks/feature/CHANGELOG.md
  bricks/feature/LICENSE
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/.gitignore
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/.metadata
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/README.md
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/lib/feature_{{feature_name.snakeCase()}}.dart
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/lib/src/extension/index.dart
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/lib/src/ui/component/index.dart
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/lib/src/ui/index.dart
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/pubspec.yaml
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/test/feature_{{feature_name.snakeCase()}}_test.dart
  bricks/feature/brick.yaml
  bricks/feature/hooks/.gitignore
  bricks/feature/hooks/post_gen.dart
  bricks/feature/hooks/pubspec.lock
  bricks/feature/hooks/pubspec.yaml
  bricks/firebase_options/CHANGELOG.md
  bricks/firebase_options/LICENSE
  bricks/firebase_options/README.md
  bricks/firebase_options/__brick__/app/lib/flavor/{{#flavors}}{{{.}}}{{/flavors}}/firebase_options.dart
  bricks/firebase_options/brick.yaml
  commit-template
  mason.yaml
  tool/bootstrap.sh
  tool/gen_gitignore_files.sh
Labels: @backend

#398 feat(home): QuestOverview セクションのデザイン実装
  feature/home/lib/feature_home.dart
  feature/home/lib/src/ui/component/index.dart
  feature/home/lib/src/ui/home/index.dart
  feature/home/lib/src/ui/page/home/component/quest_overview_section.dart
  feature/home/lib/src/ui/page/home/home_page.dart
Labels: @feature/home

#405 feat(app): アイコンを追加
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  app/ios/Runner/Dev/Info.plist
  app/ios/Runner/Prod/Info.plist
  app/ios/Runner/Stg/Info.plist
  catalog/web/favicon.ico
  catalog/web/favicon.png
  catalog/web/icons/Icon-192.png
  catalog/web/icons/Icon-512.png
  catalog/web/icons/Icon-maskable-192.png
  catalog/web/icons/Icon-maskable-512.png
  catalog/web/icons/apple-touch-icon.png
  catalog/web/icons/favicon-16x16.png
  catalog/web/icons/favicon-32x32.png
  catalog/web/index.html
  catalog/web/manifest.json
  feature/auth/.flutter-plugins-dependencies
Labels: @catalog, @feature/auth, @app

#411 refactor(catalog): カタログの階層をカイゼン
  catalog/lib/designsystem/component/card.dart
  catalog/lib/designsystem/component/scaffold.dart
  catalog/lib/feature/auth/page/auth_page.dart
  catalog/lib/feature/home/page/home_page.dart
  catalog/lib/feature/my/page/settings_page.dart
  catalog/lib/feature/quest/page/quest_add_page.dart
  catalog/lib/feature/quest/page/quest_detail_page.dart
  catalog/lib/feature/quest/page/quest_page.dart
  catalog/lib/ui/component/quest_list_tile.dart
  catalog/lib/widgetbook.directories.g.dart
Labels: @catalog

#412 chore: 不要な git 管理対象ファイルを削除
  .idea/runConfigurations/flutter_run_asis_app_dev.xml
  .idea/runConfigurations/flutter_run_asis_app_prod.xml
  .idea/runConfigurations/flutter_run_asis_app_stg.xml
  bricks/feature/__brick__/feature/{{feature_name.snakeCase()}}/.gitignore
  core/analytics/.gitignore
  core/analytics_firebase/.gitignore
  core/authenticator/.gitignore
  core/common/.gitignore
  core/data/.gitignore
  core/database/.gitignore
  core/database_isar/.gitignore
  core/datastore/.gitignore
  core/designsystem/.gitignore
  core/domain/.gitignore
  core/model/.gitignore
  core/network/.gitignore
  core/testing/.gitignore
  core/ui/.gitignore
  feature/auth/.flutter-plugins
  feature/auth/.flutter-plugins-dependencies
  feature/auth/.gitignore
  feature/feed/.gitignore
  feature/home/.gitignore
  feature/quest/.gitignore
  feature/settings/.gitignore
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @feature/home, @feature/auth, @feature/quest, @feature/settings, @core/ui, @core/analytics, @core/analytics_firebase, @core/authenticator, @core/database_isar, @feature/feed

#413 [GH-408]: サービスお知らせのカードコンポーネントを作成する
  core/domain/lib/feed_use_case.dart
  core/domain/lib/src/use_case/feed/news_feed_list_stream_use_case.dart
  core/domain/lib/src/use_case/feed/news_feed_list_stream_use_case.g.dart
  core/model/lib/src/feed/index.dart
  core/model/lib/src/feed/news_feed.dart
  core/model/lib/src/feed/news_feed.freezed.dart
  feature/feed/lib/src/ui/page/list/component/news_feed_card_section.dart
Labels: @core/domain, @core/model, @feature/feed

#417 feat(app): envied を導入
  .gitignore
  app/.env.sample
  app/.gitignore
  app/lib/env.dart
  app/pubspec.lock
  app/pubspec.yaml
  melos.yaml
  tool/gen_gitignore_files.sh
Labels: @app

#419 refactor: typedef を利用してクラス名の競合を解消
  app/lib/l10n/l10n.dart
  core/designsystem/l10n.yaml
  core/designsystem/lib/l10n.dart
  core/designsystem/lib/src/gen/l10n/l10n.dart
  core/designsystem/lib/src/gen/l10n/l10n_en.dart
  core/designsystem/lib/src/gen/l10n/l10n_ja.dart
  core/designsystem/lib/src/l10n/app_en.arb
  core/designsystem/lib/src/l10n/app_ja.arb
  core/designsystem/pubspec.lock
  core/designsystem/pubspec.yaml
  core/ui/lib/l10n.dart
  feature/auth/lib/feature_auth.dart
  feature/feed/lib/feature_feed.dart
  feature/home/lib/feature_home.dart
  feature/quest/lib/feature_quest.dart
  feature/settings/lib/feature_settings.dart
Labels: @core/designsystem, @feature/home, @feature/auth, @feature/quest, @feature/settings, @core/ui, @app, @feature/feed

#424 feat: リモートからのニュース取得処理を追加
  app/lib/auth/firebase_authenticator.dart
  app/lib/initializer/build_config_initializer.dart
  app/lib/main.dart
  app/pubspec.lock
  core/authenticator/lib/src/authenticator.dart
  core/data/lib/repository.dart
  core/data/lib/src/news_repository.dart
  core/data/lib/src/news_repository.g.dart
  core/domain/lib/src/use_case/feed/news_feed_list_stream_use_case.dart
  core/domain/lib/src/use_case/feed/news_feed_list_stream_use_case.g.dart
  core/model/lib/src/build_config/build_config.dart
  core/model/lib/src/build_config/build_config.freezed.dart
  core/network/lib/src/news/news_remote_data_source.dart
  core/network_ferry/build.yaml
  core/network_ferry/lib/src/ferry.dart
  core/network_ferry/lib/src/ferry.g.dart
  core/network_ferry/lib/src/graphql/__generated__/schema.schema.gql.dart
  core/network_ferry/lib/src/graphql/__generated__/schema.schema.gql.g.dart
  core/network_ferry/lib/src/graphql/__generated__/serializers.gql.dart
  core/network_ferry/lib/src/graphql/__generated__/serializers.gql.g.dart
  core/network_ferry/lib/src/graphql/news/__generated__/GetNews.data.gql.dart
  core/network_ferry/lib/src/graphql/news/__generated__/GetNews.data.gql.g.dart
  core/network_ferry/lib/src/graphql/serializer/timestamptz_serializer.dart
  core/network_ferry/lib/src/http_auth_link.dart
  core/network_ferry/lib/src/news/ferry_network_news_transformer.dart
  core/network_ferry/lib/src/news/ferry_network_news_transformer.g.dart
  core/network_ferry/lib/src/news/ferry_news_remote_data_source.dart
  core/network_ferry/lib/src/news/model/network_news.dart
  core/network_ferry/pubspec.lock
  core/network_ferry/pubspec.yaml
  feature/feed/lib/src/ui/page/list/component/feed_list.dart
  feature/feed/lib/src/ui/page/list/feed_list_page.dart
Labels: @core/data, @core/domain, @core/model, @core/network, @app, @core/authenticator, @feature/feed, @core/network_ferry

#428 feat(network): Firestore によるネットワークパッケージを追加
  app/ios/Podfile.lock
  app/lib/initializer/app_initializer.dart
  app/lib/initializer/firebase_initializer.dart
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/network_firestore/.gitignore
  core/network_firestore/.metadata
  core/network_firestore/README.md
  core/network_firestore/lib/core_network_firestore.dart
  core/network_firestore/lib/src/firestore.dart
  core/network_firestore/lib/src/firestore.g.dart
  core/network_firestore/pubspec.lock
  core/network_firestore/pubspec.yaml
  core/network_firestore/test/dummy_test.dart
Labels: @app

#431 refactor(model): buildConfig -> appConfig にリネーム
  app/lib/flavor/flavor.dart
  app/lib/initializer/app_config_initializer.dart
  app/lib/initializer/app_initializer.dart
  app/lib/initializer/firebase_initializer.dart
  app/lib/main.dart
  catalog/lib/main.dart
  core/model/lib/app_config.dart
  core/model/lib/build_config.dart
  core/model/lib/src/app_config/app_config.dart
  core/model/lib/src/app_config/app_config.freezed.dart
  core/model/lib/src/app_config/app_config.g.dart
  core/model/lib/src/app_config/flavor.dart
  core/model/lib/src/app_config/index.dart
  core/model/lib/src/build_config/index.dart
  core/model/lib/src/index.dart
  core/network_ferry/lib/src/ferry.dart
  core/network_ferry/lib/src/ferry.g.dart
  feature/settings/lib/src/gen/l10n/l10n.dart
  feature/settings/lib/src/gen/l10n/l10n_en.dart
  feature/settings/lib/src/gen/l10n/l10n_ja.dart
  feature/settings/lib/src/l10n/app_en.arb
  feature/settings/lib/src/l10n/app_ja.arb
  feature/settings/lib/src/ui/page/settings/component/app_config_tile_content.dart
  feature/settings/lib/src/ui/page/settings/component/index.dart
  feature/settings/lib/src/ui/page/settings/settings_page.dart
Labels: @core/model, @catalog, @feature/settings, @app, @core/network_ferry

#436 feat(app): 環境別のエンドポイント定義を追加
  app/lib/initializer/app_config_initializer.dart
Labels: @app

#437 test: 不要なテストの削除
  core/analytics/pubspec.lock
  core/analytics/pubspec.yaml
  core/analytics/test/dummy_test.dart
  core/authenticator/pubspec.lock
  core/authenticator/pubspec.yaml
  core/authenticator/test/dummy_test.dart
  core/database/pubspec.lock
  core/database/pubspec.yaml
  core/database/test/dummy_test.dart
  core/datastore/pubspec.lock
  core/datastore/pubspec.yaml
  core/datastore/test/dummy_test.dart
  core/network/pubspec.lock
  core/network/pubspec.yaml
  core/network/test/dummy_test.dart
Labels: @core/database, @core/datastore, @core/network, @core/analytics, @core/authenticator

#455 feat: 同期ユースケースを Pull to refresh で実行するよう変更
  core/domain/lib/src/use_case/sync_use_case.dart
  core/domain/lib/src/use_case/sync_use_case.g.dart
  core/domain/lib/sync_use_case.dart
  feature/home/lib/src/ui/page/home/component/quest_overview_section.dart
  feature/home/lib/src/ui/page/home/home_page.dart
Labels: @core/domain, @feature/home

#457 feat(home): クエスト画面遷移の実装を追加
  app/lib/router/routes/home_route.dart
  catalog/lib/feature/home/page/home_page.dart
  feature/home/lib/src/ui/page/home/home_page.dart
Labels: @feature/home, @catalog, @app

#459 feat: クエスト追加ダイアログを追加
  app/lib/router/app_router.g.dart
  app/lib/router/routes/home_route.dart
  app/lib/router/shell_branch/home_branch.dart
  catalog/lib/feature/home/page/home_page.dart
  feature/home/lib/feature_home.dart
  feature/home/lib/src/gen/l10n/l10n.dart
  feature/home/lib/src/gen/l10n/l10n_en.dart
  feature/home/lib/src/gen/l10n/l10n_ja.dart
  feature/home/lib/src/l10n/app_en.arb
  feature/home/lib/src/l10n/app_ja.arb
  feature/home/lib/src/ui/page/home/home_page.dart
  feature/home/lib/src/ui/page/home/quick_add_quest_dialog.dart
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
Labels: @feature/home, @catalog, @app

#461 feat: クエスト詳細ページの簡易実装を追加
  catalog/lib/ui/component/quest_list_tile.dart
  core/common/lib/extension.dart
  core/common/lib/src/extension/index.dart
  core/common/lib/src/extension/string.dart
  core/data/lib/src/quest_repository.dart
  core/database/lib/src/quest/quest_dao.dart
  core/database_isar/lib/src/quest/isar_quest_dao.dart
  core/database_isar/lib/src/quest/model/quest.dart
  core/database_isar/lib/src/quest/model/quest.g.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.g.dart
  core/model/lib/quest.dart
  core/model/lib/src/quest/index.dart
  core/model/lib/src/quest/quest.dart
  core/model/lib/src/quest/quest.freezed.dart
  core/model/lib/src/quest/quest_status.dart
  core/network/lib/src/quest/model/network_main_quest.dart
  core/network/lib/src/quest/model/network_main_quest.freezed.dart
  core/network_ferry/lib/src/quests/ferry_network_main_quest_transformer.dart
  core/ui/lib/src/quest_list_tile.dart
  feature/home/lib/src/ui/page/home/component/recent_quest_list_section.dart
  feature/quest/lib/src/gen/l10n/l10n.dart
  feature/quest/lib/src/gen/l10n/l10n_en.dart
  feature/quest/lib/src/gen/l10n/l10n_ja.dart
  feature/quest/lib/src/l10n/app_en.arb
  feature/quest/lib/src/l10n/app_ja.arb
  feature/quest/lib/src/ui/page/detail/component/quest_content.dart
  feature/quest/lib/src/ui/page/detail/quest_detail_page.dart
Labels: @core/common, @core/data, @core/database, @core/domain, @core/model, @core/network, @feature/home, ignore for release, @catalog, @feature/quest, @core/ui, @core/database_isar, @core/network_ferry
