Repository ishinova/tobe-app, pull requests merged in 2024-07, with the labels that each got.

#466 feat: ニュースの構成を変更
  core/data/lib/src/news_repository.dart
  core/model/lib/src/feed/news_feed.dart
  core/model/lib/src/feed/news_feed.freezed.dart
  core/network/lib/src/news/model/network_news.dart
  core/network/lib/src/news/model/network_news.freezed.dart
  core/network_ferry/lib/src/graphql/news/GetNews.graphql
  core/network_ferry/lib/src/graphql/news/__generated__/GetNews.ast.gql.dart
  core/network_ferry/lib/src/graphql/news/__generated__/GetNews.data.gql.dart
  core/network_ferry/lib/src/graphql/news/__generated__/GetNews.data.gql.g.dart
  core/network_ferry/lib/src/news/ferry_network_news_transformer.dart
  feature/feed/lib/src/ui/page/list/component/news_feed_card_section.dart
Labels: @core/data, @core/model, @core/network, @feature/feed, @core/network_ferry

#465 feat: 環境別の websiteUrl 定義を追加
  app/lib/initializer/app_config_initializer.dart
  core/model/lib/src/app_config/app_config.dart
  core/model/lib/src/app_config/app_config.freezed.dart
Labels: @core/model, @app

#473 build(common): anyhow, rust_core への依存を追加
  app/pubspec.lock
  catalog/pubspec.lock
  core/analytics/pubspec.lock
  core/analytics_firebase/pubspec.lock
  core/authenticator/pubspec.lock
  core/common/lib/anyhow.dart
  core/common/lib/rust_core.dart
  core/common/pubspec.lock
  core/common/pubspec.yaml
  core/data/pubspec.lock
  core/database/pubspec.lock
  core/database_isar/pubspec.lock
  core/datastore/pubspec.lock
  core/designsystem/pubspec.lock
  core/domain/pubspec.lock
  core/model/pubspec.lock
  core/network/pubspec.lock
  core/network_ferry/pubspec.lock
  core/network_firestore/pubspec.lock
  core/testing/pubspec.lock
  core/ui/pubspec.lock
  feature/auth/pubspec.lock
  feature/feed/pubspec.lock
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @feature/home, @catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui, @core/analytics, @app, @core/analytics_firebase, @core/authenticator, @core/database_isar, @feature/feed, @core/network_ferry

#476 feat: Widgetbook に l10n の addon を追加
  catalog/lib/l10n/l10n.dart
  catalog/lib/widgetbook.dart
  catalog/pubspec.lock
  catalog/pubspec.yaml
Labels: @catalog

#475 [Improve]: ニュースカードへタップアクションの追加 / 全部見るボタンの追加
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Dev/Info.plist
  app/ios/Runner/Prod/Info.plist
  app/ios/Runner/Stg/Info.plist
  app/lib/router/app_router.dart
  app/lib/router/routes/feed_route.dart
  app/pubspec.lock
  app/pubspec.yaml
  feature/feed/lib/src/ui/page/list/component/news_feed_card_section.dart
  feature/feed/lib/src/ui/page/list/feed_list_page.dart
Labels: @app, @feature/feed

#492 feat: トーストを追加
  app/lib/app.dart
  app/lib/main.dart
  app/lib/ui/toast.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.dart
  core/domain/lib/src/use_case/quest/add_quest_use_case.g.dart
  core/ui/lib/src/component/toast/toast.dart
  core/ui/lib/src/component/toast/toast_data.dart
  core/ui/lib/src/component/toast/toast_data.freezed.dart
  core/ui/lib/src/component/toast/toaster.dart
  core/ui/lib/src/component/toast/toaster.g.dart
  core/ui/lib/toast.dart
  core/ui/pubspec.lock
  core/ui/pubspec.yaml
  feature/quest/lib/src/ui/page/add/quest_add_page.dart
Labels: @core/domain, @feature/quest, @core/ui, @app

#503 refactor(backend): バックエンドアプリパッケージを backend -> app/backend に移動
  .github/labeler.yml
  .github/labels.yml
  app/backend/.gitignore
  app/backend/.tool-versions
  app/backend/Dockerfile
  app/backend/README.md
  app/backend/pubspec.lock
  app/backend/pubspec.yaml
  app/backend/routes/index.dart
  app/backend/test/routes/index_test.dart
  melos.yaml
Labels: @backend

#504 fix(deps): lock files の更新
  .gitattributes
  app/backend/pubspec.lock
  app/catalog/pubspec.lock
  app/mobile/pubspec.lock
  core/analytics/pubspec.lock
  core/analytics_firebase/pubspec.lock
  core/authenticator/pubspec.lock
  core/common/pubspec.lock
  core/data/pubspec.lock
  core/database/pubspec.lock
  core/database_isar/pubspec.lock
  core/datastore/pubspec.lock
  core/designsystem/pubspec.lock
  core/domain/pubspec.lock
  core/model/pubspec.lock
  core/network/pubspec.lock
  core/network_ferry/pubspec.lock
  core/network_firestore/pubspec.lock
  core/testing/pubspec.lock
  core/ui/pubspec.lock
  feature/auth/pubspec.lock
  feature/feed/pubspec.lock
  feature/home/pubspec.lock
  feature/quest/pubspec.lock
  feature/settings/pubspec.lock
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @feature/home, @app/backend, @app/catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui, @core/analytics, @app/mobile, @core/analytics_firebase, @core/authenticator, @core/database_isar, @feature/feed, @core/network_ferry

#513 feat(backend): docker コンテナで起動できるようにする
  .dockerignore
  app/backend/Dockerfile
  app/backend/pubspec.lock
  compose.yaml
  core/network/lib/core_network.dart
  core/network_model/pubspec.lock
  core/network_model/pubspec.yaml
Labels: @core/network, @app/backend

#516 feat(backend): rest で通信できるよう変更
  app/backend/all_successful.http
  app/backend/http-client.env.json
  app/backend/lib/config.dart
  app/backend/lib/ferry.dart
  app/backend/lib/ferry.g.dart
  app/backend/lib/graphql/quest/GetQuests.graphql
  app/backend/lib/graphql/quest/__generated__/GetQuests.ast.gql.dart
  app/backend/lib/graphql/quest/__generated__/GetQuests.var.gql.dart
  app/backend/lib/graphql/quest/__generated__/GetQuests.var.gql.g.dart
  app/backend/lib/http_auth_link.dart
  app/backend/lib/news/ferry_network_news_transformer.dart
  app/backend/lib/news/ferry_network_news_transformer.g.dart
  app/backend/lib/news/ferry_news_remote_data_source.dart
  app/backend/lib/news/ferry_news_remote_data_source.g.dart
  app/backend/lib/quests/ferry_main_quest_remote_data_source.dart
  app/backend/lib/quests/ferry_main_quest_remote_data_source.g.dart
  app/backend/lib/quests/ferry_network_main_quest_transformer.dart
  app/backend/lib/quests/ferry_network_main_quest_transformer.g.dart
  app/backend/main.dart
  app/backend/pubspec.lock
  app/backend/pubspec.yaml
  app/backend/routes/api/v1/news/index.dart
  app/backend/routes/v1/_middleware.dart
  app/backend/routes/v1/news/_middleware.dart
  app/backend/routes/v1/news/index.dart
  app/backend/routes/v1/quests/_middleware.dart
  app/backend/routes/v1/quests/index.dart
  core/network_model/lib/src/quest/network_main_quest.dart
  core/network_model/lib/src/quest/network_main_quest.freezed.dart
  core/network_model/lib/src/quest/network_main_quest.g.dart
Labels: @app/backend

#519 feat(backend): クエスト追加処理を追加
  app/backend/all_successful.http
  app/backend/lib/news/ferry_network_news_transformer.dart
  app/backend/lib/news/ferry_news_remote_data_source.dart
  app/backend/lib/quests/ferry_main_quest_remote_data_source.dart
  app/backend/lib/quests/ferry_network_main_quest_transformer.dart
  app/backend/routes/v1/_middleware.dart
  app/backend/routes/v1/quests/index.dart
  core/data/lib/src/news_repository.dart
  core/data/lib/src/quest_repository.dart
  core/network/lib/core_network.dart
  core/network/lib/news.dart
  core/network/lib/quest.dart
  core/network/lib/src/news/news_remote_data_source.dart
  core/network/lib/src/quest/main_quest_remote_data_source.dart
  core/network_ferry/lib/src/news/ferry_network_news_transformer.dart
  core/network_ferry/lib/src/news/ferry_news_remote_data_source.dart
  core/network_ferry/lib/src/quests/ferry_main_quest_remote_data_source.dart
  core/network_ferry/lib/src/quests/ferry_network_main_quest_transformer.dart
  core/network_model/lib/core_network_model.dart
  core/network_model/lib/news.dart
  core/network_model/lib/quest.dart
  core/network_model/lib/src/quest/create_main_quest_request.dart
  core/network_model/lib/src/quest/create_main_quest_request.freezed.dart
  core/network_model/lib/src/quest/create_main_quest_request.g.dart
Labels: @core/data, @core/network, @app/backend, @core/network_ferry

#522 feat(catalog): 初期ルートを追加
  app/catalog/lib/widgetbook.dart
Labels: @app/catalog

#528 fix(mobile): websiteUrl の修正
  app/mobile/.env.sample
  app/mobile/lib/initializer/app_config_initializer.dart
Labels: @app/mobile

#530 fix(data): 引数の受け渡し漏れを修正
  core/data/lib/src/quest_repository.dart
Labels: @core/data

#542 feat: Remote Config を利用した強制アップデートロジックの追加
  app/catalog/lib/main.dart
  app/mobile/lib/app.dart
  app/mobile/lib/config/remote_config.dart
  app/mobile/lib/flavor/flavor.dart
  app/mobile/lib/initializer/app_config_initializer.dart
  app/mobile/lib/initializer/app_initializer.dart
  app/mobile/lib/initializer/firebase_initializer.dart
  app/mobile/lib/main.dart
  app/mobile/lib/router/app_router.dart
  app/mobile/lib/ui/app_force_updatable.dart
  app/mobile/lib/ui/toast.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  core/model/lib/app_config.dart
  core/model/lib/config.dart
  core/model/lib/src/app_config/index.dart
  core/model/lib/src/config/app_config.dart
  core/model/lib/src/config/app_config.freezed.dart
  core/model/lib/src/config/app_config.g.dart
  core/model/lib/src/config/flavor.dart
  core/model/lib/src/config/remote_config.dart
  core/model/lib/src/config/remote_config.freezed.dart
  core/model/lib/src/config/remote_config.g.dart
  core/model/lib/src/config/update_version.dart
  core/model/lib/src/config/update_version.freezed.dart
  core/network/lib/src/dio_client.dart
  feature/settings/lib/src/ui/page/settings/component/app_config_tile_content.dart
Labels: @core/model, @core/network, @app/catalog, @feature/settings, @app/mobile

#544 fix(deps): 3.23.0-0.1.pre-beta -> 3.22.3-stable
  .tool-versions
  app/backend/.tool-versions
  app/backend/Dockerfile
  app/backend/pubspec.lock
  app/backend/pubspec.yaml
  app/catalog/pubspec.lock
  app/catalog/pubspec.yaml
  app/mobile/ios/Podfile.lock
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  core/analytics/pubspec.lock
  core/analytics/pubspec.yaml
  core/analytics_firebase/pubspec.lock
  core/analytics_firebase/pubspec.yaml
  core/authenticator/pubspec.lock
  core/authenticator/pubspec.yaml
  core/common/pubspec.lock
  core/common/pubspec.yaml
  core/data/pubspec.lock
  core/data/pubspec.yaml
  core/database/pubspec.lock
  core/database/pubspec.yaml
  core/database_isar/pubspec.lock
  core/database_isar/pubspec.yaml
  core/datastore/pubspec.lock
  core/datastore/pubspec.yaml
  core/designsystem/pubspec.lock
  core/designsystem/pubspec.yaml
  core/domain/pubspec.lock
  core/domain/pubspec.yaml
  core/model/pubspec.lock
  core/model/pubspec.yaml
  core/network/pubspec.lock
  core/network/pubspec.yaml
  core/network_model/pubspec.lock
  core/network_model/pubspec.yaml
  core/testing/pubspec.lock
  core/testing/pubspec.yaml
  core/ui/pubspec.lock
  core/ui/pubspec.yaml
  feature/auth/pubspec.lock
  feature/auth/pubspec.yaml
  feature/feed/pubspec.lock
  feature/feed/pubspec.yaml
  feature/home/pubspec.lock
  feature/home/pubspec.yaml
  feature/quest/pubspec.lock
  feature/quest/pubspec.yaml
  feature/settings/pubspec.lock
  feature/settings/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  templates/feature/template/pubspec.yaml.hbs
Labels: @core/common, @core/data, @core/database, @core/datastore, @core/designsystem, @core/domain, @core/model, @core/network, @core/testing, @feature/home, @app/backend, @app/catalog, @feature/auth, @feature/quest, @feature/settings, @core/ui, @core/analytics, @app/mobile, @core/analytics_firebase, @core/authenticator, @core/database_isar, @feature/feed, @core/network_model
